[run]
branch = true
source = app,backend
omit =
    */tests/*
    */.venv/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
show_missing = true
skip_covered = true
